src/files_test/station_01/stationdata/station_data.json
src/files_test/station_02/stationdata/station_data.json
src/files_test/station_03/stationdata/station_data.json
src/files_test/station_04/stationdata/station_data.json
src/files_test/station_05/stationdata/station_data.json
src/files_test/station_06/stationdata/station_data.json
src/files_test/station_07/stationdata/station_data.json
src/files_test/station_08/stationdata/station_data.json
src/files_test/station_09/stationdata/station_data.json
src/files_test/station_10/stationdata/station_data.json
src/files_test/vehicle_01/vehicledata/vehicle_data.json
src/files_test/vehicle_02/vehicledata/vehicle_data.json
src/files_test/vehicle_03/vehicledata/vehicle_data.json
src/files_test/vehicle_04/vehicledata/vehicle_data.json
