station_01/stationdata/station_data.json
station_02/stationdata/station_data.json
station_03/stationdata/station_data.json
station_04/stationdata/station_data.json
station_05/stationdata/station_data.json
station_06/stationdata/station_data.json
station_07/stationdata/station_data.json
station_08/stationdata/station_data.json
station_09/stationdata/station_data.json
station_10/stationdata/station_data.json
vehicle_01/vehicledata/vehicle_data.json
vehicle_02/vehicledata/vehicle_data.json
vehicle_03/vehicledata/vehicle_data.json
vehicle_04/vehicledata/vehicle_data.json
